/*Define a custom font similar to the iconic Ney York Times font*/
@font-face {
    font-family: "The LB Times";
    src: url(Fonts/Chomsky.woff);
    src: url(Fonts/Chomsky.otf);
}

/*Format lines containing links*/
nav {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: cadetblue;
    padding: 1px;
    text-decoration: none;
    display: flex;
    margin: 10px;
    border-radius: 8px;
    font-size: 15px;
    font-family:sans-serif;
}

/*Specify font and color of text for each element in each list*/
li {
    color:blanchedalmond;
    font-family: Helvetica
}

/*Specify font, size, and color of h1 texts (page titles)*/
h1 {
    font-family: 'The LB Times';
    font-size: 50px;
    color:darkgoldenrod;
}

/*Specify font, color, and size for all h2 text (article titles)*/
h2 {
    font-family:Arial, Helvetica, sans-serif;
    color: darkgoldenrod;
    font-size: 30px;
}

/*Specify size, margin, rounded corners for the two images*/
img {
    border-radius: 8px;
    display: block;
    margin: auto;
}

/*Specify style and alignment for headers on each page*/
header {
    margin: 0;
    padding: 15;
    text-align: center;
}

/*Specify font for paragraph text (article bodies)*/
p {
    font-family: sans-serif;
}

/*Specify font, alignment, rounded corners for h2 text (article titles)*/
.article-title {
    font-family: "The LB Times";
    text-align: center;
    border-radius: 8px;
}

/*Format list section using a flexbox, align flexbox in center*/
.list-section {
    display: flex;
    justify-content: center;
}

/*Specify font for list titles*/
.list-title {
    font-family: "The LB Times";
}

/*Specify formatting for each list's section within flexbox*/
.list-article {
    background-color:rgb(17, 51, 1);
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}

/*Specify formatting for the two external links to youtube*/
.yt-link {
    background-color: rgb(202, 104, 107);
    padding: 0.5%;
    border-radius: 8px;
}

/*Specify color scheme for Elden Ring page (index.html)*/
#er-page {
    background-color: burlywood;
    .article-title {
        background-color: darkslategray;
    };
}

/*Specify color scheme for SOTE page (page2.html)*/
#sote-page {
    background-color:lightcoral;
    .article-title {
        background-color: maroon;
    }
}

/*Specify header background color for index.html header*/
#er-header {
    background-color: darkslategray;
}
/*Specify header background color for page2.html header*/
#sote-header {
    background-color:maroon;
}

/*Specify background color for internal link in index.html
to represent contents of page2.html*/
#er-to-sote-link {
    background-color: lightcoral;
    h2 {
        font-size: 15px;
        color: black;
    }
}

/*Specify background color for internal link in page2.html
to represent contents of index.html*/
#sote-to-er-link{
    background-color: burlywood;
    h2 {
        color: black;
        font-size: 15px;
    }
}