/*Define a custom font similar to the iconic Ney York Times font*/
@font-face {
    font-family: "The LB Times";
    src: url(Fonts/Chomsky.woff);
    src: url(Fonts/Chomsky.otf);
    /*Ensures text is displayed while font loads*/
    font-display: swap;
}

/*Format lines containing links*/
/*Superfluous rules removed*/
nav {
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    /*Changes nav text font and size from default for h3*/
    font-family:sans-serif;
}

/*Specify font and color of text for each element in each list*/
li {
    color:blanchedalmond;
    font-family: Helvetica
}

/*Specify font, size, and color of h1 texts (page titles)*/
h1 {
    font-family: 'The LB Times';
    font-size: 50px;
    color:darkgoldenrod;
}

/*Specify font, color, and size for all h2 text (article titles)*/
h2 {
    font-family:Arial, Helvetica, sans-serif;
    color: darkgoldenrod;
    font-size: 30px;
}

/*Specify size, margin, rounded corners for the two images*/
img {
    border-radius: 8px;
    display: block;
    margin: auto;
}

/*Specify font for paragraph text (article bodies)*/
p {
    font-family: sans-serif;
}

/*Specify font, alignment, rounded corners for h2 text (article titles)*/
.article-title {
    font-family: "The LB Times";
    text-align: center;
    border-radius: 8px;
}

/*Format list section using a flexbox, align flexbox in center*/
.list-section {
    display: flex;
    justify-content: center;
}

/*Specify font for list titles*/
.list-title {
    font-family: "The LB Times";
}

/*Specify formatting for each list's section within flexbox*/
.col-md-5 {
    background-color:rgb(17, 51, 1);
    border-radius: 8px;
}

/*Specify color scheme for Elden Ring page (index.html)*/
#er-page {
    .article-title {
        /*Change index.html h2 background color for better contrast ratio*/
        background-color: 012317;
    };
}

/*Specify color scheme for SOTE page (page2.html)*/
#sote-page {
    .article-title {
        background-color: maroon;
    }
}

/*Specify header background color for index.html header*/
#er-header {
    /*Change index.html header background for better contrast ratio*/
    background-color: 012317;
    border-radius: 8px;
}
/*Specify header background color for page2.html header*/
#sote-header {
    background-color:maroon;
    border-radius: 8px;
}

/*Specify background color for internal link in index.html
to represent contents of page2.html*/
#er-to-sote-link {
    /*Change index.html internal link background color for better contrast ratio*/
    background-color: f1b67e;
    h2 {
        font-size: 15px;
        color: black;
    }
}

/*Specify background color for internal link in page2.html
to represent contents of index.html*/
#sote-to-er-link{
    /*Change page2.html internal link background, text, and link color for better contrast ratio*/
    background-color: rgb(1, 35, 23);
    h2 {
        font-size: 15px;
    }
}

/*Media query to resize fonts, adjust margins, and reformat flexboxes for small screens*/
@media (max-width: 600px) {
    body {
        font-size: 13px;
        margin: 25px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }
}