/*Define a custom font similar to the iconic Ney York Times font*/
@font-face {
    font-family: "The LB Times";
    src: url(Fonts/Chomsky.woff);
    src: url(Fonts/Chomsky.otf);
}

/*Format lines containing links*/
nav {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: cadetblue;
    padding: 1px;
    text-decoration: none;
    display: flex;
    margin: 10px;
    border-radius: 8px;
}

li {
    color:blanchedalmond;
    font-family: Helvetica
}

h1 {
    text-align: center;
    font-family: 'The LB Times';
    font-size: 50px;
    color:darkgoldenrod
}

h2 {
    font-family:Arial, Helvetica, sans-serif;
    color: darkgoldenrod;
    font-size: 30px;
}

img {
    align-items: center;
    border-radius: 8px;
    display: block;
    margin: auto;
}

header {
    margin: 0;
    padding: 15;
    text-align: center;
}

p {
    font-family: sans-serif;
}

.article-title {
    font-family: "The LB Times";
    text-align: center;
    border-radius: 8px;
}

.list-section {
    display: flex;
    justify-content: center;
}

.list-title {
    font-family: "The LB Times";
}

.list-article {
    background-color:rgb(17, 51, 1);
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}

#er-yt-link,#sote-yt-link {
    background-color: rgb(202, 104, 107);
    padding: 0.5%;
    border-radius: 8px;
}

#er-page {
    background-color: burlywood;
    .article-title {
        background-color: darkslategray;
    };
}

#sote-page {
    background-color:lightcoral;
    .article-title {
        background-color: maroon;
    }
}

#er-header {
    background-color: darkslategray;
}

#sote-header {
    background-color:maroon;
}